@font-face {
  font-family: pixelfont;
  src: url(Assets/Daydream.ttf);
}

body {
  font-family: pixelfont;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  gap: 5%;
}

.HomeButtons {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.HomeButtonStyle {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
}

.HomeButtonStyle:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

select {
  font-family: pixelfont;
}

.Mode {
  font-family: pixelfont;
}

* {
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Universal support since 2021   */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: bicubic;
  /* IE8+                           */

}

.HostUI {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 15px;
  background-image: url("./Assets/hostBoard.png");
  background-position: center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  padding: 15vh;

}

button {
  font-family: pixelfont;
  background-image: url("./Assets/button.png");
  background-size: 100%, 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #626262;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.PlayerMainText {
  font-family: pixelfont;
  background-image: url("./Assets/button.png");
  background-size: 100%, 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #626262;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}

.waitforplayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-family: pixelfont;
}

.game-board {
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;

  background-image: url("./Assets/border.png");
  background-position: center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  padding: 8vh;


}

.winscreen {
  display: flex;
  justify-content: center;
  align-items: center;

}

.BoardContainer {
  background-image: url("Assets/testbackground.gif");
  background-position: center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.board-row {
  display: flex;
  flex-direction: row;
}

.game-running {
  display: flex;
  justify-content: center;
  flex-direction: row;

  align-items: center;
  gap: 4%;
}

.PlayerList {
  background-color: rgb(188, 188, 188);
  height: 50%;
  position: relative;
}

.game-MessageBoard {
  display: flex;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 24px;
}

.tile {
  width: 65px;
  /* Width of each tile */
  height: 65px;
  /* Height of each tile */
  /* Border around each tile */
  background-color: #fff;
  /* White background for tiles */
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;


}

#tile-100 {
  background-image: url("./Assets/Flag.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 80%;
  z-index: 0;
}

#tile-1 {
  background-image: url("./Assets/spawn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  z-index: 0;
}

/*.tile.snake {
  background-image: url("./Assets/snakeTile.png");
  background-position: center;
  background-size: 85% 85%;
  background-repeat: no-repeat;

}*/

.dice {
  width: 30px;
  height: 30px;
}

/*.tile.ladder {
  background-image: url("./Assets/ladderTile.png");
  background-position: center;
  background-size: 85% 85%;
  background-repeat: no-repeat;

}*/

.tile.empty {
  background-color: #ccc;
  /* Gray background for empty spaces */
}

.tile-number {
  display: inline-block;
  position: relative;
  left: 7.5%;
  top: 3px;
  z-index: 1;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;
  font-weight: 600;
  color: #232323;
  font-size: 1.8vh;

}

.cell-info {
  display: flex;
  flex-direction: row;
  gap: 15%;
}

/*.position-number {
  font-size: 10px;
  z-index: 1;
  background-color: wheat;
  margin-top: 2.5px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;

}*/

.eventBoard {
  font-size: large;
  background-image: url("./Assets/eventBoard.png");
  background-position: center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  padding-top: 11vh;
  padding-left: 9vh;
  padding-right: 9vh;

  padding-bottom: 11vh;
  width: 200px;

}

.PlayersGrid {
  display: grid;
  flex-direction: row;
}



.gameSpeed {
  transform: rotateY(180deg);
  appearance: none;
  background: #d3d3d3;
  transition: opacity .2s;
  opacity: 0.7;
  height: 15px;
  border-radius: 5px;
}

.gameSpeed:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.gameSpeed::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url("./Assets/Slider.png");
  border: 2px solid black;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.tile-players-container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.PlayerInList {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 12px;
}

.JoinUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: #282c34;
}

.JoinUInner {
  background-color: #232323;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60%;
}

.waitforplayers {
  background-image: url("./Assets/eventBoard.png");
  background-position: center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  padding: 28vh;
}

.StartButtons {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.PlayersWaiting {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.PlayerContainer {
  color: white;
}

.displayTurn {
  background: hsl(122, 52%, 42%);
  border-radius: 75%;
  width: 20px;
  height: 20px;
  margin: 5%;
}

.player-0 {
  background: #f44336;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;
}

.name-0 {
  color: #f44336;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-1 {
  background: #4caf50;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;
}


.name-1 {
  color: #4caf50;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-2 {
  background: #2196f3;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-2 {
  color: #2196f3;
  ;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}


.player-3 {
  background: #ffeb3b;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-3 {
  color: #ffeb3b;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-4 {
  background: gray;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-4 {
  color: gray;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-5 {
  background: #282c34;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-5 {
  color: #282c34;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-6 {
  background: #b919c2;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-6 {
  color: #b919c2;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-7 {
  background: #c26819;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-7 {
  color: #b919c2;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}

.player-8 {
  background: brown;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
  z-index: 2;

}

.name-8 {
  color: brown;

  text-shadow: 0 1px 3px whitesmoke, 0 1px 0px whitesmoke;

}