.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.game-board {
  display: grid;
  /* Use CSS Grid for layout */
  grid-template-columns: repeat(10, 1fr);
  /* Create  10 equal columns */
  /* Space between the grid items */
  grid-auto-rows: minmax(min-content, max-content);
  /* Ensures rows adapt to content */
  grid-gap: 0;

}

.board-row {}

.tile {
  width: 50px;
  /* Width of each tile */
  height: 50px;
  /* Height of each tile */
  border: 1px solid #000;
  /* Border around each tile */
  background-color: #fff;
  /* White background for tiles */
  display: flex;
  /* Flex container for centering text */
  justify-content: center;
  /* Center text horizontally */
  align-items: center;
  /* Center text vertically */
  font-size: 14px;
  /* Font size for numbers */
  /* Change cursor on hover */
}

.tile.snake {
  background-color: #f00;
  /* Red background for snakes */
}

.tile.ladder {
  background-color: #0f0;
  /* Green background for ladders */
}

.tile.empty {
  background-color: #ccc;
  /* Gray background for empty spaces */
}