.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-board {
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;
  margin-bottom: 20px;

}

.board-row {
  display: flex;
  flex-direction: row;
}

.game-running {
  display: flex;
  justify-content: center;
  flex-direction: row;

  align-items: center;
  gap: 10%;
}

.PlayerList {
  background-color: rgb(188, 188, 188);
  height: 50%;
  position: relative;
  padding: 20px;
}

.game-MessageBoard {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 150px;
}

.tile {
  width: 80px;
  /* Width of each tile */
  height: 80px;
  /* Height of each tile */
  border: 1px solid #000;
  /* Border around each tile */
  background-color: #fff;
  /* White background for tiles */
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  /* Center text vertically */
  font-size: 14px;
  /* Font size for numbers */
  /* Change cursor on hover */

}

.tile.snake {
  background-color: #f00;
  /* Red background for snakes */
}

.tile.ladder {
  background-color: #0f0;
  /* Green background for ladders */
}

.tile.empty {
  background-color: #ccc;
  /* Gray background for empty spaces */
}

.tile-number {
  display: inline-block;
  position: relative;
  left: 7.5%;

  font-weight: 600;
  color: #232323;
  font-size: 16px;
}

.tile-players-container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.PlayerInList {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.displayTurn {
  background: hsl(122, 52%, 42%);
  border-radius: 75%;
  width: 20px;
  height: 20px;
  margin: 5%;
}

.player-0 {
  background: #f44336;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-1 {
  background: #4caf50;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-2 {
  background: #2196f3;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-3 {
  background: #ffeb3b;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-4 {
  background: gray;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-5 {
  background: #282c34;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-6 {
  background: #b919c2;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-7 {
  background: #c26819;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-8 {
  background: crimson;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-9 {
  background: lightslategrey;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-10 {
  background: pink;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-11 {
  background: burlywood;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-12 {
  background: yellowgreen;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-13 {
  background: rgb(110, 18, 202);
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-14 {
  background: gainsboro;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}

.player-15 {
  background: rgb(222, 209, 159);
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 5%;
}